@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(33, 127, 33);
    font-size: 4em;
    padding: 20px;
}

body {
    margin: 4em;
    text-align: center;

}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 54vh;
    height: 54vh;
    margin: auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 18vh;
    width: 18vh;
    border: 2px solid red;
}

h3 {
    padding: 20px;
    font-size: 23px;
}

input {
    padding-left: 3px;
    padding-right: 3px;
    margin-inline: 1em;
}


